
/*ABOUT MEPAGE*/

#about_me_container {
    padding: 4em 2em 0 9em;
    height: 170vh;
    background: linear-gradient(#000000, #115783 100%);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: justify; 
}

/*text*/
.text_about_me {
    padding-bottom: 1em ;
    border-bottom: #ffffff solid 1px;
}
 
 .h2_about_me {
    font-size: 2em;
}

.p_about_me {
    font-size: 1em;
    font-weight: lighter;
    color: #ffffffdf;
}

.text_more_about_me {
    padding: 1em 0;
}

.h3_about_me {
    font-size: 1.3em;
}

/*Courses*/
#courses_container {
    height: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses {
    font-size: 1.2em;
    height: 100%;
}

.box_and_text{
    display: flex;
    height: 100%;
}

.courses input{
    position: absolute;
    width: 9em;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
}

.label_courses {
    height: 100%;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    margin: 0 1.5em;   
}

.courses input:checked ~ .label_courses  {
    background-image: linear-gradient(to left, #11578350,#22A4F5d0 );
    border-radius: 0.3em;
    padding: 0.2em;
}

.course_box {
    width: 100%;
    padding: 1em;
    display: none
    
}

.courses input:checked ~ .course_box{
    display: flex;
    background: linear-gradient( #0000 , #ffffff3f 100%);
    border-radius: 0.5em;
    box-shadow: 0 0 2em 0.1em #ffffff13;
    
}

.course_img_container {
    background-image: linear-gradient(to right,transparent, #00000080 50%, transparent);
    width: 80%;
    height: 100%;
    margin: auto 0.3em;
    padding: 10px;
    border-radius: 7px;
 
}

.course_img_container a {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.html_first_box_img {
    background: url(../images/HTML_course_img.png) no-repeat top center;
    background-size:cover;
}

.html_second_box_img {
    background: url(../images/Coursera_img.png) no-repeat top center;
    background-size: cover;
}

.css_first_box_img {
    background: url(../images/CSScourse_img.png) no-repeat top center ;
    background-size: cover;
}

.css_second_box_img {
    background: url(../images/HTML_course.png) no-repeat top center;
    background-size: cover;
}

.js_first_box_img {
    background: url(../images/JScourse_img.png) no-repeat top center;
    background-size: cover;
    margin: auto;
}

@media (min-width: 1000px){

    #about_me_container {
        height: 150vh;
    }

    /*Courses*/
    #courses_container {
        height: 90%;
        flex-direction: row;
        justify-content: space-around;
    }

    .courses {
        font-size: 1.3em;
        width: 90%;
        margin: 0 0.3em;
    }

    .courses input{
        width: 20vw;
    }

    .box_and_text{
       flex-direction: column;
    }
    
    .label_courses {
        width: 80%;
        height: 2em;
        font-size: 1em;
    }
    
    .course_box {
        height: 24em;
        width: 30vw;
    }

    .courses input:checked ~ .course_box{
        flex-direction: column;
    }

    .course_img_container {
        margin: 0.5em auto;
        height: 50%;
        position: relative;

    }

       
}